@import url(header.css);

@import url(main.css);

@import url(featureprod.css);

@import url(lightchair.css);

@import url(chairs.css);

@import url(lookbook.css);

@import url(detail.css);

@import url(articles.css);

@import url(footer.css);

@font-face {
    font-family: Neue Montreal sm;
    src: url(/OTF/PPNeueMontreal-Thin.otf);
}

@font-face {
    font-family: Neue Montreal md;
    src: url(/OTF/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: Reckless Neue;
    src: url(/OTF/RecklessNeue-Regular.ttf);
}

@font-face {
    font-family: Reckless Neue md;
    src: url(/OTF/RecklessNeue-Medium.ttf);
}

@font-face {
    font-family: Neue Montreal;
    src: url(/OTF/PPNeueMontreal-Book.otf);
}